<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>scanservjs</title>
    <script src="assets/js/app.js" type="text/javascript"></script>
    <link rel="stylesheet" href="assets/css/app.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" type="text/css">
</head>

<script type="text/template" id="file-row">
    <td><a href="<%= fullname%>"><%= name%></a></td>
    <td><%= new Date(lastModified).toString()%></td>
    <td><%= size%></td>
    <td><button type="button" class="btn btn-lg">X</button></td>
</script>

<script type="text/template" id="page">
    <div class="row">
        <!-- Padding for larger screens -->
        <div class="col-lg-2 col-md-1"></div>

        <!-- Fields and buttons -->
        <div id="fields" class="col-lg-4 col-md-5 col-sm-12">

            <div class="row">
                <div id="col1" class="col">
                    <div class="form-group">
                        <label for="top">Top</label>
                        <input id="top" type="text" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="left">Left</label>
                        <input id="left" type="text" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="width">Width</label>
                        <input id="width" type="text" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="height">Height</label>
                        <input id="height" type="text" class="form-control" />
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="resolution">Resolution</label>
                        <select id="resolution" class="form-control">
                            <option value="50">50 dpi</option>
                            <option value="75">75 dpi</option>
                            <option value="100">100 dpi</option>
                            <option value="150">150 dpi</option>
                            <option value="200">200 dpi</option>
                            <option value="300">300 dpi</option>
                            <option value="600">600 dpi</option>
                            <option value="1200">1200 dpi</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="mode">Colour</label>
                        <select id="mode" class="form-control">
                        </select>
                    </div>

                    <div class="form-check" id="formGroupDisableDynamicLineart">
                        <label for="disableDynamicLineart" class="form-check-label">Disable dynamic lineart</label>
                        <input id="disableDynamicLineart" type="checkbox" class="form-check-input" />
                    </div>

                    <label for="brightness">Brightness</label>
                    <input id="brightness" type="text" class="form-control" />
                    <div id="brightness_slider" class="slider"></div>

                    <label for="Contrast">Contrast</label>
                    <input id="contrast" type="text" class="form-control" />
                    <div id="contrast_slider" class="slider"></div>

                    <div class="form-group">
                        <label for="convertFormat">Format</label>
                        <select id="convertFormat" class="form-control">
                            <option>tif</option>
                            <option>jpg</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Buttons -->
            <div class="row">
                <div class="col text-right">
                    <div class="btn-group" role="group" aria-label="...">
                        <button id="reset" type="button" class="btn btn-lg">reset <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                        <button id="preview" type="button" class="btn btn-lg">preview <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        <button id="scan" type="button" class="btn btn-lg">scan <span class="glyphicon glyphicon-camera" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>

        </div>

        <!-- Preview pane -->
        <div id="previewPane" class="col-lg-4 col-md-5 col-sm-12">
        </div>

        <!-- Padding for larger screens -->
        <div class="xcol-lg-2 col-md-1"></div>
    </div>

    <div class="row">
        <div class="col">&nbsp;</div>
    </div>

    <div class="row">
        <!-- Padding for larger screens -->
        <div class="col-lg-2 col-md-1"></div>

        <div class="col-lg-8 col-md-10 col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>File</th>
                        <th>Date</th>
                        <th>Size</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="files-table-body">
                </tbody>
            </table>
        </div>

        <!-- Padding for larger screens -->
        <div class="col-lg-2 col-md-1"></div>
    </div>

</script>

<body role="document">

    <div id="mask"></div>

    <nav class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top">
        <div class="navbar-header"></div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-nav ml-auto" href="#">scanserv-js (v<span id="version"></span>)</div>
        </div>
    </nav>

    <div class="container theme-showcase" role="main">

        <div id="app">
        </div>

        <div class="d-none">
            <div class="collapse-group">
                Welcome to scanservjs. If you are seeing this then you have
                probably tried to run the source code instead of the build.
            </div>
            
            <div class="collapse-group">
                If you are not a developer, then you probably want to follow
                the <a href="https://github.com/sbs20/scanservjs/blob/master/install.md">installation instructions</a>.
            </div>
            
            <div class="collapse-group">
                If you are developing, then you need to run `gulp` which will
                generate the assets folder containing the css and client
                javascript.
            </div>
        </div>
    </div>
</body>

</html>
