[Unit]
Description=scanservjs
After=network.target

[Service]
ExecStart=/var/www/scanservjs/server/server.js
Restart=always
User=scanservjs
Group=users
Environment=PATH=/usr/local/bin:/usr/bin:/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/scanservjs

[Install]
WantedBy=multi-user.target